{% extends "archer/sql_base.html" %}
{% load static %}

{% block db_content %}
        <script>
        var sidebar_database = document.getElementById('database_menu');
        var archer_bar = document.getElementById('sql_review');
        $(sidebar_database).addClass('active');
        $(archer_bar).addClass('active');
    </script>
<h4>请认真阅读SQL审核规则：</h4>
https://github.com/jly8866/archer/raw/master/docs/mysql_db_design_guide.docx

	<script src="{% static 'archer/user/js/detail.js' %}"></script>
	<script src="{% static 'archer/user/js/rollback.js' %}"></script>
	<script src="{% static 'archer/user/js/autoreview.js' %}"></script>
	<script src="{% static 'archer/user/js/submitsql.js' %}"></script>
	<script src="{% static 'archer/highcharts/highcharts.js' %}"></script>
	<script src="{% static 'archer/user/js/charts.js' %}"></script>
{% endblock db_content %}
